@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
}

main {
  flex: 1 1 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* HEADER */
header {
  background-color: #edede9;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(160deg, #f93e3e, rgba(255, 0, 0, 0) 80.71%),
    linear-gradient(157deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 60.71%),
    linear-gradient(336deg, rgba(218, 204, 12, 0.8), rgba(0, 0, 255, 0) 90.71%);
  background-size: 100%;
  border-bottom: 8px solid #d91965;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: end;
}

.nav-link {
  margin-left: 25px;
}

.nav-link a {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  font-weight: 600;
  color: #2b2d42;
  text-decoration: none;
  transition: 0.5s;
}

.nav-link a:hover {
  color: #6c757d;
  transition: 0.5s;
}

.wrapper-header {
  display: flex;
  align-items: center;
}

@keyframes logoMove {
  from {
    padding-top: 50px;
  }
  50% {
    padding-top: 80px;
  }
  to {
    padding-top: 50px;
  }
}

.wrapper-header img {
  width: 140px;
  animation-name: logoMove;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
}

.wrapper-header h1 {
  font-family: 'Press Start 2P', cursive;
  margin-top: 12px;
  margin-left: 8px;
}

.wrapper-header a {
  color: #011627;
  text-decoration: none;
}

/* FOOTER */
footer {
  background-color: #353535;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  /* padding-top: 50px; */
}

footer p {
  color: #fff;
}

.game-box-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 50px;
}

.game-box-wrapper .game-box {
  padding-top: 50px;
  position: relative;
  flex: 0 0 33.333333%;
  display: flex;
  justify-content: center;
}

.game-box-wrapper .game-box h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 7vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  z-index: 1;
}

.game-box-wrapper .game-box:hover h2 {
  color: #3498db;
}

.game-box-wrapper .game-box a button {
  position: absolute;
  bottom: 7vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  z-index: 1;
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 400;
  line-height: 1;
  padding: 13px 15px 10px;
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

.game-box-wrapper .game-box a button:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.game-box-wrapper .game-box img {
  border: 5px solid #3498db;
  border-radius: 2%;
  filter: brightness(0.7);
  cursor: pointer;
}

.game-box-wrapper .game-box:hover img {
  filter: brightness(1);
}

/* ADAPTIVE */
@media screen and (max-width: 720.01px) {
  .wrapper-header h1 {
    font-size: 24px;
    margin-top: 17px;
  }
  .nav-link {
    margin-left: 15px;
  }
  .nav-link a {
    font-size: 20px;
  }
}

@media screen and (max-width: 610.01px) {
  .wrapper-header h1 {
    font-size: 22px;
    margin-top: 17px;
  }
  .nav-link {
    margin-left: 15px;
  }
  .nav-link a {
    font-size: 18px;
  }
}

@media screen and (max-width: 520.01px) {
  .wrapper-header h1 {
    font-size: 22px;
    margin-top: 17px;
  }
  .nav-links {
    flex-direction: column;
  }
  .nav-link {
    margin-top: 5px;
  }
  .nav-link:first-child {
    margin-top: 0;
  }
  .nav-link a {
    font-size: 18px;
  }
}
