* {
    font-family: 'IBM Plex Serif', serif;
    margin: 0;

}

h1 {
    height: 10vh;
    background-color: blue;
    width: 100%;
    text-align: center;
    font-size: 6vh;
}

.game-stats {
    height: 10vh;
    width: 100%;
    margin-bottom: 2vh;
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
}


.bomb-count,
.timer,
.red-flag-count {
    font-size: 6vh;  
}

#game-board {
    margin: auto;
    border: 1px solid black;
    background-color: aqua;
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
}

#game-start {
    width: 200px;
    height: 50px;
    justify-content: center;
    color: lightblue;
    font-size: 30px;
    background-color: blue;
    border: none;
    border-radius: 10px;
    margin: auto;
    transition: 0.5s;
    font-weight: 400;
}

#game-start:hover {
    scale: 1.1;
    box-shadow: 10px 5px 5px black;
}

#game-board > div {
    border: solid black 1px;
    font-size: 30px;
    width: 43px;
    height: 43px;
    background-color: red;
    cursor: pointer;
}

#game-board > div:hover {
    background-color: brown;
}